* {
  /* margin-left: auto;
  margin-right: auto; */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  background-color: dimgrey;
  background-image: url('https://wallpapercave.com/wp/wp137339.jpg');
  background-size: 100%;
}
h1 {
  color: rgb(72, 195, 252);
  font-family: 'Open Sans', serif;
  font-size: 120%;
  text-align: center;
  margin: 30px;
}

.logos {
  margin-left: 20px;
}

h2 {
  margin-left: 10px;
  text-align: center;
}

iframe {
  width: 372px;
  height: 177px;
}

.image {
  width: 20.33%;
}

.family {
  margin: 30px;
}
