* {
  /* margin-left: auto;
  margin-right: auto; */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

  padding: 10;
  background-color: dimgrey;
}
h1 {
  color: rgb(72, 195, 252);
  font-family: 'Open Sans', serif;
  font-size: 120%;
  text-align: center;
}
/* ::content {
  max-width: 960;
  margin: 0;
  text-align: center;
} */

/* .center {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
} */

.logos {
  margin-left: 20px;
}

h2 {
  margin-left: 10px;
  text-align: center;
}

button {
  background-color: aliceblue;
}

iframe {
  width: 432px;
  height: 247px;
}

.image {
  float: center;
  width: 19.33%;
  padding: 0;
  height: auto;
}
